= will_paginate @rg_tasks    
%table{:cellspacing => "0"}
  %thead
    %tr
      %th 
        %b Task Title
      %th 
        %b Provider
      %th 
        %b Schedule
      %th
        %b Options
      %td 
  %tbody
    - @rg_tasks.each do |rg_task|
      %tr.first
        / .first for first row of the table (only if there is thead)
        %td= h rg_task.task_title
        %td= h rg_task.provider
        %td= h rg_task.schedule
        %td
          = link_to image_tag("led-ico/application_view_detail.png"), rg_task
          = link_to image_tag("led-ico/pencil.png"), edit_rg_task_path(rg_task)
          = link_to image_tag("led-ico/delete.png"), rg_task, :confirm => 'Are you sure you want to delete this task?', :method => :delete 
          = link_to image_tag("led-ico/control_play.png"), rg_task , :confirm => 'Are you sure you want to run this task once now?'
          = link_to image_tag("led-ico/control_pause.png"), rg_task , :confirm => 'Are you sure you want to suspend this task?'
= will_paginate @rg_tasks