%h1 Editing RealGravity Morpheus Task
- form_for(@rg_task) do |f|
  = f.error_messages
  %p
    = f.label :task_title
    %br/
    = f.text_field :task_title
  %p
    = f.label :provider
    %br/
    = f.text_field :provider
  %p
    = f.label :schedule
    %br/
    = f.text_field :schedule
  %p
    = f.label :worktype
    %br/
    = f.text_field :worktype
  %p
    = f.label :namespace
    %br/
    = f.text_field :namespace
  %p
    = f.label :worker
    %br/
    = f.text_field :worker
  %p
    = f.label :operation
    %br/
    = f.text_field :operation
  %p
    = f.label :url
    %br/
    = f.text_field :url
  %p
    = f.label :schema
    %br/
    = f.text_field :schema
  %p
    = f.label :multi_page
    %br/
    = f.check_box :multi_page
  %p
    = f.label :skip_rehosting
    %br/
    = f.check_box :skip_rehosting
  %p
    = f.label :disable_validation
    %br/
    = f.check_box :disable_validation
  %p
    = f.label :update_if_exists
    %br/
    = f.check_box :update_if_exists
  %p
    = f.label :incremental
    %br/
    = f.check_box :incremental
  %p
    = f.submit 'Update' 
= link_to 'Show', @rg_task
|
\#{link_to 'Back', rg_tasks_path}
