%p
  %b Provider:
  = h @rg_task.provider
%p
  %b Schedule:
  = h @rg_task.schedule
%p
  %b Worktype:
  = h @rg_task.worktype
%p
  %b Namespace:
  = h @rg_task.namespace
%p
  %b Worker:
  = h @rg_task.worker
%p
  %b Operation:
  = h @rg_task.operation
%p
  %b Url:
  = h @rg_task.url
%p
  %b Schema:
  = h @rg_task.schema
%p
  %b Skip rehosting:
  = h @rg_task.skip_rehosting
%p
  %b Disable validation:
  = h @rg_task.disable_validation
%p
  %b Update if exists:
  = h @rg_task.update_if_exists
%p
  %b Incremental:
  = h @rg_task.incremental
= link_to 'Edit', edit_rg_task_path(@rg_task)
|
\#{link_to 'Back', rg_tasks_path}
