<h1>RealGravity Morpheus Schedule</h1>

<table>
  <tr>
    <th>Provider</th>
    <th>Schedule</th>
    <th>Type</th>
    <th>Namespace</th>
    <th>Worker</th>
    <th>Operation</th>
    <th>Url</th>
    <th>Schema</th>
    <th>Skip Rehosting</th>
    <th>Disable Validation</th>
    <th>Update if exists</th>
    <th>Incremental</th>
  </tr>

<% @rg_tasks.each do |rg_task| %>
  <tr>
    <td><%=h rg_task.provider %></td>
    <td><%=h rg_task.schedule %></td>
    <td><%=h rg_task.worktype %></td>
    <td><%=h rg_task.namespace %></td>
    <td><%=h rg_task.worker %></td>
    <td><%=h rg_task.operation %></td>
    <td><%=h rg_task.url %></td>
    <td><%=h rg_task.schema %></td>
    <td><%=h rg_task.skip_rehosting %></td>
    <td><%=h rg_task.disable_validation %></td>
    <td><%=h rg_task.update_if_exists %></td>
    <td><%=h rg_task.incremental %></td>
    <td><%= link_to 'Show', rg_task %></td>
    <td><%= link_to 'Edit', edit_rg_task_path(rg_task) %></td>
    <td><%= link_to 'Destroy', rg_task, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Run Now', rg_task %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New rg_task', new_rg_task_path %>
