<h1>New RealGravity Morpheus Task</h1>

<% form_for(@rg_task) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :provider %><br />
    <%= f.text_field :provider %>
  </p>
  <p>
    <%= f.label :schedule %><br />
    <%= f.text_field :schedule %>
  </p>
  <p>
    <%= f.label :worktype %><br />
    <%= f.text_field :worktype %>
  </p>
  <p>
    <%= f.label :namespace %><br />
    <%= f.text_field :namespace %>
  </p>
  <p>
    <%= f.label :worker %><br />
    <%= f.text_field :worker %>
  </p>
  <p>
    <%= f.label :operation %><br />
    <%= f.text_field :operation %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :schema %><br />
    <%= f.text_field :schema %>
  </p>
  <p>
    <%= f.label :skip_rehosting %><br />
    <%= f.check_box :skip_rehosting %>
  </p>
  <p>
    <%= f.label :disable_validation %><br />
    <%= f.check_box :disable_validation %>
  </p>
  <p>
    <%= f.label :update_if_exists %><br />
    <%= f.check_box :update_if_exists %>
  </p>
  <p>
    <%= f.label :incremental %><br />
    <%= f.check_box :incremental %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', rg_tasks_path %>